@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin g1() {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

}

@for $i from 0 through 500 {
    .m-b-#{$i}{
        margin-bottom: 1px * $i;
    }
}

@for $i from 0 through 500 {
    .m-t-#{$i}{
        margin-top: 1px * $i;
    }
}

@for $i from 0 through 500 {
    .m-l-#{$i}{
        margin-left: 1px * $i;
    }
}

@for $i from 0 through 500 {
    .m-r-#{$i}{
        margin-right: 1px * $i;
    }
}

@for $i from 0 through 500 {
    .m-#{$i}{
        margin: 1px * $i;
    }
}
//-------------------------------------------
@for $i from 0 through 500 {
    .p-b-#{$i}{
        padding-bottom: 1px * $i;
    }
}

@for $i from 0 through 500 {
    .p-t-#{$i}{
        padding-top: 1px * $i;
    }
}

@for $i from 0 through 500 {
    .p-l-#{$i}{
        padding-left: 1px * $i;
    }
}

@for $i from 0 through 500 {
    .p-r-#{$i}{
        padding-right: 1px * $i;
    }
}

@for $i from 0 through 500 {
    .p-#{$i}{
        padding: 1px * $i !important;
    }
}

@for $i from 0 through 500 {
    .f-sz-#{$i}{
        font-size: 1px * $i !important;
    }
}
//-----------------------------
@for $i from 0 through 100 {
    .wp-#{$i}{
        width: 1% * $i;
    }
}
@for $i from 0 through 100 {
    .h-#{$i}{
        height: 1px * $i;
    }
}
@for $i from 0 through 500 {
    .w-#{$i}{
        width: 1px * $i;
        .bootstrap-select{
            width: 1px * $i !important;
        }
    }
}
body{
    //background: #cef0fa url(../img/body.jpg) 50% 0 no-repeat;
}
.pa{
    position: absolute;
}
select{
    border: none;
    padding: 0 10px;
}
a:focus,
a:hover{
    outline: none;
}
.btn:active,
.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none !important;
}
.has-error{
    input{
        border: 1px solid rgb(255,0,0);
    }
}
.bootstrap-ddown,
.bootstrap-select{
    .btn{
        background-color: #fff;
        border-color: #ccc;
        color: #333;
        border: 1px solid #d7d7d7;
        border-radius: 2px;
        box-sizing: border-box;
    }
}
form .btn-file{
    height: 115px;
    min-width: 115px;
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 1px solid #d7d7d7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    padding: 0;
    line-height: 155px;
    display: block;
    &:focus,
    &:active,
    &:hover{
        background: transparent;
        color: #66afe9;
        border: 1px solid #66afe9;
        box-shadow: 0 1px 1px rgba(102, 175, 233, 0.6) inset;
    }
    i{
        font-size: 72px;
    }
}
#image-widget-drag{
    margin: 0;
    li{
        height: 115px;
        margin-bottom: 15px;
        .delim{
            position: absolute;
            margin-left: 55px;
            margin-top: 10px;
            color: #FF0000;
        }
        .img-thumbnail{
            width: 115px;
        }
    }
}
.dropdown-menu{
    li{
        small{
            font-size: 12px;
        }
    }
}

.ad-desctipt{
    a:first-letter{
        text-transform: uppercase;
    }
}
.pagination li{
    margin-right: 5px;
}
.pagination li:last-child,
.pagination li:first-child {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #edf4f7 100%) repeat scroll 0 0;
    border-bottom: 1px solid #c7c7c7;
    color: #373737;
    filter: none;
    font-size: 13px;
    line-height: 28px;
    margin-left: 10px;
    padding: 0 14px 0 14px;
    position: relative;
    display: inline-block;
    @include border-radius(2px);
    a{
        color: #373737;
        display: inline-block;
        &:hover{
            background: transparent;
            color: #54A6DC;
        }
    }
    i{
        font-size: 9px;
        color: #54A6DC;
    }
}

a.title:first-letter{
    text-transform: uppercase;
}
.head-choise-city,
.dinamic-structur-search{
    .bootstrap-ddown,
    .bootstrap-select{
        height: 30px;
        .btn-default{
            border: none;
            height: 30px;
            line-height: 28px;
            @include border-radius(0px);
            .caret{
                border: none;
            }
            &:focus,
            &:active{
                background: transparent;
                outline: none;
            }
        }
    }
    .search-choise-city{
        border-left: 6px solid #4D99CB;
    }
    .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default,
    .btn-default.active, .btn-default:active, .open .btn-default {
        background-color: transparent !important;
        border-color: transparent !important;
        color: #333;
        outline: none;
    }
    .btn-group.open .dropdown-toggle {
        box-shadow: none;
        outline: none;
    }
}
/*.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default,
.btn-default.active, .btn-default:active, .open .btn-default {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #333;
    outline: none;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
    outline: none;
}
*/
form .resume{
    display: none;
}
.filter-select{
    .bootstrap-select{
        .btn-default{
            background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #edf4f7 100%) repeat scroll 0 0;
            border-bottom: 1px solid #c1c4c6;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 3px;
            color: #4d99cb;
            filter: none;
            height: 30px;
            line-height: 30px;
            padding: 0 23px 0 8px;
            .caret{
                background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll -94px -89px;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: 17px;
                border: none;
                margin: 0;
            }
        }
        
    }
    .filter-experience,
    .filter-price,
    .filter-area{
        width: 120px !important;
        .dropdown-menu{
            padding: 15px;
            .slider{
                width: 100% !important;
            }
        }
    }
}
.filter-btn.active{
    background: #edf4f7;
}
.avatar-field{
    .file-input{
        display: block;
        width: 30px !important;
        .btn-file{
            width: 30px !important;
            min-width: 30px;
            padding: 0;
            color: rgb(52,64,83);
            background: transparent;
            i{
                color: rgb(52,64,83);
            }
        }
    }
}
.modal-dialog{
    z-index: 10000;
}
#popover-social{
    display: none;
    margin-left: 100px;
    position: absolute;
    width: 250px;
    padding: 15px;
    background: #fff;
    border: 1px solid #e3eef5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
.flaticon-symbols::before{
    font-size: 14px !important;
    line-height: 14px !important;
    margin-left: 0;
}
.catalog-name .fav-add{
    background: none;
    color: #858585;
    .fa-star{
        color: #C80730;
    }
}
.more-filter-none{
    display: none;
}
.btns{
    background: #E4E4E4;
    border-color: -moz-use-text-color -moz-use-text-color #c1c4c6;
    border-radius: 3px;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #4d99cb;
    filter: none;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}
.ad-img{
    float: none;
    width:  auto;
}
.ad-list-items{
    ul{
        li{
            overflow: visible;
        }
    }
}
.user-list-items{
    float: left;
    .row{
        margin-bottom: 20px;
        border-bottom: 1px solid #e3eef5;
    }
    .ad-date-wrap{
        margin-bottom: 15px;
    }
}
.btn-e{
    background: transparent;
    color: #000;
    width: 100%;
    border: 1px solid #ccc;
    &:hover,
    &:focus{
        background: transparent;
        color: #000;
    }
}
.btn-group-100{
    width: 100%;
    margin-bottom: 15px;
}
.btn-us{
    height: 65px !important;
    line-height: 1;
    i{
        display: block;
        font-size: 32px;
        color: #344053;
    }
}
.fa-bacay{
    background: url(../img/logo.png) no-repeat 0 0 / 130px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
.flaticon-signs{
    color: #FFB902;
}
.fa-diamond{
    color: #C70730;
}
.fa-paint-brush{
    color: #4C98CB;
}
.flaticon-arrow{
    color: #53AA4D;
}
.usr-group{
    #block-info{
        float: left;
        .col-md-6{
            width: 100%;
        }
    }
}
#block-info{
    padding: 5px 15px 0px 15px; border: 1px solid #404040;
    margin-bottom: 20px;
    p{
        font-size: 15px; font-weight: bold; color: #DF3824;
    }
    a{
        display: block; margin-bottom: 15px; padding-left: 35px;
        i{
            font-size: 24px !important;
            float: left;
            margin-left: -35px;
        }
        .glyph-icon{
            font-size: 30px !important;
        }
    }
}
.text-y{
    color: #FFB902;
}
.text-g{
    color: #53AA4D;
}
.text-r{
    color: #CA2546;
}
.aside-nav{
    width: 100%;
}
.panel-heading{
    h4{
        margin: 0;
        font-size: 16px;
    }
}
.label-30{
    height: 30px;
    line-height: 30px;
}
.unpublic{
    opacity: 0.4;
}
.more-hidden,
.typadvert-hidden{
    display: none;
}
.jq-radio {
    background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 -78px;
    border: medium none;
    cursor: pointer;
    height: 14px;
    margin: 0 4px 0 0;
    top: -1px;
    vertical-align: middle;
    width: 14px;
}
.jq-radio.checked .jq-radio__div {
    background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 -62px;
    height: 14px;
    width: 14px;
}
div.any-param{
    display: none;
}
#p404,
#p403{
    h1{
        text-align: center;
        font-size: 72px;
        color: #E03D25;
    }
    p{
        text-align: center;
        padding: 20px;
        border: 1px solid #ccc;
        font-size: 18px;
    }
}
.alert-error{
    text-align: center;
    i{
        font-size: 72px;
        color: #E03D25;
    }
    p{
        text-align: center;
        padding: 20px;
        border: 1px solid #ccc;
        font-size: 18px;
    }
}
.label.premium{
    float: left;
    font-size: 11px;
    font-weight: normal;
    margin: 10px 10px 10px -10px;
    position: absolute;
}
li.premium{
    border: 1px solid #FFB902;
    background: #FDFBC8;
}
#p1{
    height: 800px;
    width: 220px;
    background: #CEF0FA;
    position: absolute;
    margin-left: -220px;
}
#p2{
    height: 800px;
    width: 220px;
    background: #CEF0FA;
    position: absolute;
    right: 0;
    margin-right: -220px;
}
#ajax-load{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    background: url(../img/ajax-loader.gif) no-repeat center center;
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.3;
    }
}
select{
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
html{
    overflow-x: hidden;
}
/*body{
    overflow-y: scroll;
}*/
.discount-block{
    float: left;
    border: 1px solid #000;
    padding: 15px;
    h2{
        color: #df3824;
    }
}
.filter-select .bootstrap-ddown .btn-default {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff 0%, #edf4f7 100%) repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #c1c4c6;
    border-radius: 3px;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #4d99cb;
    filter: none;
    height: 30px;
    line-height: 30px;
    padding: 0 23px 0 8px;
}
.filter-select .bootstrap-ddown .btn-default .caret {
    background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll -94px -89px;
    border: medium none;
    height: 100%;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 17px;
}
.area-apply,
.filter-age,
.experience-apply,
.price-apply{
    width: 100%;
    margin-top: 15px;
    background: #4E9BCA !important;
    color: #fff !important;
}
.filter-age .dropdown-menu{
    padding: 15px !important;
}
#form-fedback{
    width: 400px;
    margin: 0 auto;
}









