.alert{
    /*margin: 20px 0 !important;*/
}
#iner{
    padding: 20px;
    background: #fff;
    margin-top: 20px;
}
.b-c-222D32 tr th,
.b-c-222D32 tr td{
    border: 1px solid #ccc !important;
}
.p-t-25{
    padding-top: 25px;
}

/*-----------TREE-----------------*/

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li a span{
    padding: 1px 2px 2px 2px;
    display: none;
}
.tree li a:hover span{
    display: inline !important;
   
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

/*-----------TREE-----------------*/

.dd-content {
    background: #f8faff none repeat scroll 0 0;
    border: 1px solid #dae2ea;
    box-sizing: border-box;
    color: #7c9eb2;
    display: block;
    font-weight: bold;
    margin: 5px 0;
    min-height: 38px;
    padding: 8px 12px 8px 60px;
    text-decoration: none;
}
.dd-list{
    list-style: none;
    padding: 0;
}
.dd-list .dd-list{
    padding-left: 30px;
}

.dd-item > button{
    position: absolute;
}
.dd-content .eac{
    float: right;
    margin-right: 5px;
}
a:focus,
a:active,
a:hover{
    outline: none;
    text-decoration: none;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow: none;
}

.agl li{
    list-style: none;
    margin: 5px;
    float: left;
    width: 110px;
}
.agl{
    padding: 0;
    margin: 0;
}
#gallery-edit-image{
    margin-bottom: 20px;
}
.agl li .actions{
    text-align: center;
    padding: 5px;
}
.agl li .actions a{
    margin-right: 10px;
}

.dd {
    display: block;
    font-size: 13px;
    line-height: 20px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
.dd-list {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
.dd-list .dd-list {
    padding-left: 30px;
}
.dd-collapsed .dd-list {
    display: none;
}
.dd-item, .dd-empty, .dd-placeholder {
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    min-height: 20px;
    padding: 0;
    position: relative;
}
.dd-handle {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ebeff6;
    border-radius: 3px;
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none;
}
.dd-handle:hover {
    background: #fff none repeat scroll 0 0;
}
/*.dd-item > button {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 1;
    margin: 5px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    text-indent: 100%;
    white-space: nowrap;
    width: 25px;
}*/
/*.dd-item > button::before {
    content: "+";
    display: block;
    position: absolute;
    text-align: center;
    text-indent: 0;
    width: 100%;
}
.dd-item > button[data-action="collapse"]::before {
    content: "-";
}*/
.dd-item > button {
    position: absolute;
    left: 25px;
}
.dd-placeholder, .dd-empty {
    background: #f2fbff none repeat scroll 0 0;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    margin: 5px 0;
    min-height: 30px;
    padding: 0;
}
.dd-empty {
    background-color: #e5e5e5;
    background-position: 0 0px, 30px 30px;
    background-size: 60px 60px;
    border: 1px dashed #bbb;
    min-height: 100px;
}
.dd-dragel {
    pointer-events: none;
    position: absolute;
    z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle {
    margin-top: 0;
}
.dd-dragel .dd-handle {
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.nestable-lists {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 2px 0;
    clear: both;
    display: block;
    padding: 30px 0;
    width: 100%;
}
@media only screen and (min-width: 700px) {
.dd + .dd {
    margin-left: 2%;
}
}

.dd-hover > .dd-handle {
    background: #2ea8e5 none repeat scroll 0 0 !important;
}
.dd3-content {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ebeff6;
    display: block;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    text-decoration: none;
}
.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}
.dd3-item > button {
    margin-left: 30px;
}
.dd3-handle {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ebeff6;
    border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    /*text-indent: 100%;*/
    top: 0;
    white-space: nowrap;
    width: 33px;
    height: 38px;
}
/*.dd3-handle::before {
    color: #ccc;
    content: "≡";
    display: block;
    font-size: 20px;
    font-weight: normal;
    left: 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: 5px;
    width: 100%;
}*/
.dd3-handle:hover {
    background: #f7f7f7 none repeat scroll 0 0;
}

.dd3-content .actions{
    position: relative;
    float: right;
}
.dd3-content .actions a{
    margin-right: 5px;
}

.rating-symbol{
    font-size: 25px;
    color: #F39C12;
    cursor: pointer;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-t-20{
    margin-top: 20px;
}
#image-widget ul{
    padding-left: 0;
}
#image-widget ul li{
    list-style: none;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
}
.autocomplete-suggestions { border: 1px solid #ccc; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
#stok-image img,
#clients-image img{
    margin-bottom: 15px;
}

#image-widget .delim{
    color: red;
    display: block;
    margin-left: 80px;
    margin-top: 5px;
    position: absolute;
    z-index: 100;
}

.nrsz{
    resize: none;
}

#photo-widget .row{
    margin-bottom: 15px;
}
#photo-widget  textarea{
    height: 70px;
}
#photo-widget .del-photo{
    position: relative;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
#photo-widget .list-group-item:hover{
    cursor: move;
}

    .wrapper{margin-top: 30px;}
    /************/
    /* admin-menu */
    /***********/
    #admin-menu{
            margin-bottom:0;
            height: 30px;
            min-height: 30px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            color: #fff;
            font-size: 12px;
            font-family: "tahoma";
            z-index:10000;
    }
    #admin-menu a{
            color: #fff;
            font-size: 12px;
            font-family: "tahoma";
           
    }
    #admin-menu .navbar-nav > li > a{
            padding: 0 20px;
            height: 30px;
            line-height: 30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
    }
    #admin-menu .dropdown-menu{
            background: #000;
            z-index: 10000;
            margin-top: -1px;
    }
    #admin-menu .dropdown-menu a{
         background: #222222 !important;
         color: #fff !important;
    }
    #admin-menu .dropdown-menu a:focus,
    #admin-menu .dropdown-menu a:hover{
            background: #222222 !important;
    }
    #admin-menu .navbar-nav{
            width: 100%;
    }
    .dropdown-submenu{position:relative;}
    .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
    .dropdown-submenu:hover>.dropdown-menu{display:block;}
    .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
    .dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
    .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}









