	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/03/2016 11:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-arrow:before { content: "\f100"; }
.flaticon-business:before { content: "\f101"; }
.flaticon-direction:before { content: "\f102"; }
.flaticon-fashion:before { content: "\f103"; }
.flaticon-paint:before { content: "\f104"; }
.flaticon-paint-1:before { content: "\f105"; }
.flaticon-paint-2:before { content: "\f106"; }
.flaticon-signs:before { content: "\f107"; }
.flaticon-symbols:before { content: "\f108"; }