/*@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/sourcesanspro/sourcesanspro-light.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/sourcesanspro/sourcesanspro.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/sourcesanspro/sourcesanspro-bold.woff') format('woff');
}*/

/*@font-face {
    font-family: 'clear_sansregular';
    src: url('../fonts/clearsans_regular_macroman/ClearSans-Regular-webfont.eot');
    src: url('../fonts/clearsans_regular_macroman/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans_regular_macroman/ClearSans-Regular-webfont.woff') format('woff'),
         url('../fonts/clearsans_regular_macroman/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/clearsans_regular_macroman/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sansbold';
    src: url('../fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.eot');
    src: url('../fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.woff') format('woff'),
         url('../fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
    font-family: 'clear_sansbold';
    src: url('../fonts/clearsans-bold.eot');
    src: url('../fonts/clearsans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans-bold.woff2') format('woff2'),
         url('../fonts/clearsans-bold.woff') format('woff'),
         url('../fonts/clearsans-bold.ttf') format('truetype'),
         url('../fonts/clearsans-bold.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sansregular';
    src: url('../fonts/clearsans-regular.eot');
    src: url('../fonts/clearsans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans-regular.woff2') format('woff2'),
         url('../fonts/clearsans-regular.woff') format('woff'),
         url('../fonts/clearsans-regular.ttf') format('truetype'),
         url('../fonts/clearsans-regular.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('../fonts/clearsans-thin.eot');
    src: url('../fonts/clearsans-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans-thin.woff2') format('woff2'),
         url('../fonts/clearsans-thin.woff') format('woff'),
         url('../fonts/clearsans-thin.ttf') format('truetype'),
         url('../fonts/clearsans-thin.svg#clear_sans_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sans_lightregular';
    src: url('../fonts/clearsans-light.eot');
    src: url('../fonts/clearsans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans-light.woff2') format('woff2'),
         url('../fonts/clearsans-light.woff') format('woff'),
         url('../fonts/clearsans-light.ttf') format('truetype'),
         url('../fonts/clearsans-light.svg#clear_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

