html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*----------- Typography *
 * ------------------------------------------------------------ */
body {
  background: #cef0fa;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #202020;
  margin: 0;
  padding: 0;
  width: 100%; }

h1, .site-h1-tt, h2, .site-h2-tt, h3, .site-h3-tt, h4, .site-h4-tt {
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.1em;
  color: #221e22;
  margin-bottom: 20px; }

.site-h2-tt, h2 {
  font-size: 20px;
  margin-bottom: 15px; }

.site-h3-tt, h3 {
  font-size: 17px;
  margin-bottom: 13px; }

.large-title {
  font-size: 36px;
  line-height: 1.1em;
  margin-bottom: 20px; }

p {
  margin-bottom: 13px; }

ul {
  margin-bottom: 13px; }

a {
  color: #4d99cb;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

img {
  vertical-align: middle;
  max-width: 100%; }

.txt-typo-block {
  padding: 20px;
  margin-bottom: 30px; }

/*----------- button style *
 * ------------------------------------------------------------ */
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  padding: 0 18px;
  margin: 0;
  min-width: 134px;
  font: 13px/36px "Roboto", Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #3f9848;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .btn:hover {
    color: #fff;
    background: #52af5b; }

button.btn {
  height: 36px; }

.btn-st {
  font: bold 15px/36px Arial, sans-serif;
  height: 38px;
  min-width: 80px;
  color: #333333;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 1px 0 0 #dadada;
  -moz-box-shadow: 0 1px 0 0 #dadada;
  box-shadow: 0 1px 0 0 #dadada;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%); }

.btn-add-ad {
  margin-top: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .btn-add-ad:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 14px;
    height: 15px;
    background: url(../img/sprite.png) -60px 0 no-repeat; }

/*----------- Form style *
 * ------------------------------------------------------------ */
.form-group-element {
  margin-bottom: 20px; }

.form-group-tt {
  display: block;
  margin-bottom: 15px;
  font: 20px/22px "Roboto", Arial, sans-serif;
  text-align: center;
  margin-bottom: 22px; }

.placeholder {
  color: #5e5d5d; }
input[type="email"], 
input[type="password"], 
input[type="text"], textarea {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 0 10px;
  width: 100%;
  height: 33px;
  position: relative;
  outline: none;
  font: 13px "Roboto", Arial, sans-serif;
  color: #5e5d5d;
  border: 1px solid #d7d7d7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  input:-moz-placeholder, input::-moz-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder {
    color: #5e5d5d;
    opacity: 1; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #5e5d5d; }

textarea {
  height: 100px;
  vertical-align: top;
  padding: 10px 10px;
  resize: none; }

.login-form {
  max-width: 400px;
  padding: 25px 30px 12px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #edf5fa; }
  .login-form .form-group-element {
    max-width: 280px;
    margin: 0 auto 20px; }
  .login-form .btn {
    margin-top: 15px; }

.reg-login-f {
  max-width: 294px;
  margin: 0 auto;
  padding: 15px 10px;
  text-align: center;
  background-color: #f2f9fd; }
  .reg-login-f span {
    display: block;
    color: #424242; }

.wrapper-login-form {
  padding: 120px 30px 80px;
  margin-bottom: 20px; }

.icon-input {
  position: relative; }
  .icon-input input {
    padding-left: 43px; }
    .icon-input input:focus {
      border-color: #93c273;
      -webkit-box-shadow: 0 0 2px 1px #cee6d1;
      -moz-box-shadow: 0 0 2px 1px #cee6d1;
      box-shadow: 0 0 2px 1px #cee6d1; }
  .icon-input > span {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 100%;
    border-right: 1px solid #e5e5e8; }
    .icon-input > span:before {
      content: " ";
      position: absolute;
      width: 6px;
      height: 9px;
      right: -6px;
      top: 50%;
      background: url(../img/pic-5.png) 0 0 no-repeat;
      margin-top: -4px; }

.user-icon-input span {
  background: url(../img/sprite.png) -116px -11px no-repeat; }

.pass-icon-input span {
  background: url(../img/sprite.png) -148px -12px no-repeat; }

.check-login-form {
  float: left;
  width: 50%;
  padding-left: 1px; }
  .check-login-form label {
    color: #4c4c4c;
    font-size: 13px; }

.aside-login-link {
  float: right;
  width: 50%;
  text-align: right; }

.wrapper-registration-form {
  padding: 70px 22px 30px;
  margin-bottom: 20px; }

.registration-form {
  background-color: #fff;
  max-width: 740px;
  margin: 0 auto;
  border: 1px solid #edf5fa;
  padding: 40px 22px 10px; }

.head-line-form {
  max-width: 580px;
  margin: 0 auto;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eeeeee; }
  .head-line-form .form-group-tt {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 22px;
    color: #333333; }
  .head-line-form p {
    color: #4b4b4b;
    font-size: 12px;
    line-height: 14px; }

.reg-group-bl {
  max-width: 524px;
  margin: 0 auto 35px; }

.reg-group-tt {
  display: block;
  color: #333333;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px; }

.form-col {
  float: left;
  width: 50%;
  padding: 0 10px 0 0; }

.form-col + .form-col {
  float: right;
  padding: 0 0 0 10px; }

.reg-reverse-float .form-col {
  float: right;
  width: 50%;
  padding: 0 0 0 10px; }
.reg-reverse-float .form-col + .form-col {
  float: left;
  padding: 0 10px 0 0; }

.form-wrap-input {
  margin-bottom: 20px;
  position: relative; }
  .form-wrap-input input {
    padding-right: 34px;
    height: 34px; }
  .form-wrap-input:before {
    content: " ";
    position: absolute;
    z-index: 2;
    width: 24px;
    height: 24px;
    right: 5px;
    top: 5px;
    background-image: url("../img/sprite.png"); }

.true-input:before {
  background-position: -257px 0; }

.false-input:before {
  background-position: -257px -26px; }

.reg-info {
  display: block;
  float: right;
  max-width: 234px;
  position: relative;
  padding-left: 42px;
  font-size: 11px;
  color: #636363; }
  .reg-info:before {
    content: " ";
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0px;
    top: 50%;
    background: url(../img/sprite.png) -221px 0px no-repeat;
    margin-top: -17px; }

.search-head-panel {
  position: relative;
  margin-top: 35px;
  padding: 7px 81px 7px 7px;
  background-color: #4d99cb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .search-head-panel .button-search {
    position: absolute;
    right: 0px;
    top: 7px;
    height: 30px;
    width: 70px;
    color: #ffffff;
    padding-left: 20px;
    background: none;
    border: none; }
    .search-head-panel .button-search:before {
      content: " ";
      position: absolute;
      width: 12px;
      height: 12px;
      left: 0px;
      top: 50%;
      margin-top: -6px;
      background: url(../img/sprite.png) 0px -47px no-repeat; }

.dinamic-structur-search {
  display: table;
  width: 100%;
  background-color: #fff; }

.search-input {
  display: table-cell;
  position: relative; }
  .search-input input {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 0 13px;
    color: #505050;
    background-color: #fff;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }

.search-input:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 19px;
  left: 0px;
  top: 50%;
  background-color: #aaaeb1;
  margin-top: -10px;
  z-index: 2; }

.search-choise-category {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 27%; }
  .search-choise-category .dropdown-menu {
    font-size: 13px; }
    .search-choise-category .dropdown-menu li a {
      padding-left: 10px;
      padding-right: 10px; }
  .search-choise-category .dropdown-toggle {
    display: inline-block;
    background: none;
    border: none;
    padding: 2px 30px 2px 10px;
    color: #4d4d4d;
    height: 30px;
    line-height: 13px;
    background-color: #fff;
    border-left: 1px solid #f3f8fc;
    position: relative; }
    .search-choise-category .dropdown-toggle:before {
      content: " ";
      position: absolute;
      width: 10px;
      height: 6px;
      right: 11px;
      top: 50%;
      background: url(../img/pic-2.png) 0px 0px no-repeat;
      margin-top: -2px; }

.search-choise-city {
  display: table-cell;
  vertical-align: middle;
  width: 25%;
  position: relative;
  color: #505050; }
  .search-choise-city .dropdown-toggle {
    display: block;
    width: 100%;
    height: 30px;
    color: #505050;
    font-size: 13px;
    line-height: 14px;
    border: none;
    overflow: hidden;
    background-color: #fff;
    border-right: 1px solid #f1f7fb;
    border-left: 6px solid #4d99cb;
    padding: 0 25px 0 12px;
    -webkit-box-shadow: 0 1px 0 0 #f0f6fb inset;
    -moz-box-shadow: 0 1px 0 0 #f0f6fb inset;
    box-shadow: 0 1px 0 0 #f0f6fb inset;
    text-align: left; }
    .search-choise-city .dropdown-toggle:before {
      content: " ";
      position: absolute;
      width: 17px;
      height: 30px;
      right: 5px;
      top: 0px;
      background: url(../img/sprite.png) -74px -89px no-repeat; }
  .search-choise-city .dropdown-menu {
    left: 5px; }
    .search-choise-city .dropdown-menu li a {
      padding-left: 12px;
      padding-right: 12px; }

.filter-wrapp {
  margin-bottom: 35px; }

.filter-checked-items {
  background-color: #f7fbfd;
  border-bottom: 1px solid #e3eef5;
  padding: 5px 15px 17px;
  margin-bottom: 8px; }

.filter-ch-list {
  margin-bottom: 0px; }
  .filter-ch-list > li {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin: 12px 0 0; }
    .filter-ch-list > li label {
      display: inline;
      vertical-align: middle;
      cursor: pointer;
      color: #4d99cb;
      font-size: 14px; }

.reg-soc {
  overflow: hidden;
  margin-left: -3%; }
  .reg-soc li {
    float: left;
    width: 30.3%;
    margin-left: 3%; }
  .reg-soc img + img {
    display: none; }

.search-head-middle {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 8px;
  width: 420px;
  margin-left: -190px; }
  .search-head-middle .search-choise-category {
    width: 50%; }

.filter-group-ad {
  background-color: #f7fbfd;
  padding: 11px 15px 0;
  margin-bottom: 8px; }

.filter-wrap-btn {
  margin-left: -24px; }

.filter-btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 11px 24px;
  line-height: 30px;
  border-bottom: 1px solid #c1c4c6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 0 14px 0 28px;
  font-size: 14px;
  position: relative;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #edf4f7 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #edf4f7 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #edf4f7 100%);
  filter: none; }
  .filter-btn:before {
    content: " ";
    position: absolute;
    width: 8px;
    height: 8px;
    left: 11px;
    top: 50%;
    background: url(../img/pic-4.png) 0px 0px no-repeat;
    margin-top: -4px; }
  .filter-btn:hover {
    text-decoration: none;
    background: #edf4f7; }
  .filter-btn span {
    color: #696868;
    font-size: 12px; }

.jq-checkbox {
  top: -1px;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 4px 0 0;
  border: none;
  cursor: pointer;
  background: url(../img/sprite.png) 0 -78px no-repeat; }

.jq-checkbox.checked .jq-checkbox__div {
  width: 14px;
  height: 14px;
  background: url(../img/sprite.png) 0 -62px no-repeat; }

.jq-checkbox.disabled {
  opacity: 0.55; }

.filter-wrap-select {
  margin-left: -18px; }

.filter-select {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 11px 18px; }

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer; }

.jq-selectbox__select {
  height: 30px;
  line-height: 30px;
  padding: 0 23px 0 8px;
  border-bottom: 1px solid #c1c4c6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #edf4f7 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #edf4f7 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #edf4f7 100%);
  filter: none;
  color: #4d99cb; }
  .jq-selectbox__select:hover {
    background: #edf4f7; }

.jq-selectbox__select:active {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD; }

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888; }

.jq-selectbox__select-text {
  display: block;
  overflow: hidden;
  width: 100% !important;
  white-space: nowrap;
  text-overflow: ellipsis; }

.jq-selectbox .placeholder {
  color: #4d99cb; }

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 100%;
  background: url(../img/sprite.png) -94px -89px no-repeat; }

.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }

.jq-selectbox__search {
  display: none; }

.jq-selectbox ul {
  margin: 0;
  padding: 0; }

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: #231F20; }

.jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF; }

.jq-selectbox li:hover {
  background-color: #08C;
  color: #FFF; }

.jq-selectbox li.disabled {
  color: #AAA; }

.jq-selectbox li.disabled:hover {
  background: none; }

.jq-selectbox li.optgroup {
  font-weight: bold; }

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default; }

.jq-selectbox li.option {
  padding-left: 25px; }

.jq-select-multiple {
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default; }

.jq-select-multiple.focused {
  border: 1px solid #5794BF; }

.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888; }

.jq-select-multiple ul {
  margin: 0;
  padding: 0; }

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0; }

.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px; }

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF; }

.jq-select-multiple li.disabled {
  color: #AAA; }

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF; }

.jq-select-multiple li.optgroup {
  font-weight: bold; }

.jq-select-multiple li.option {
  padding-left: 25px; }

/*----------- Navigation *
 * ------------------------------------------------------------ */
.aside-nav ul {
  margin-bottom: 0px;
  padding: 10px 0 0; }
  .aside-nav ul li {
    border-top: 1px solid #425674; }
    .aside-nav ul li a {
      color: #fff;
      display: block;
      font-size: 15px;
      line-height: 29px;
      padding: 10px 5px 10px 38px;
      font-weight: 700;
      position: relative; }
      .aside-nav ul li a:before {
        content: " ";
        position: absolute;
        left: 0px;
        top: 50%;
        background-image: url("../img/sprite.png"); }
    .aside-nav ul li:first-child {
      border: none; }

.aside-icon-1 a:before {
  width: 22px;
  height: 22px;
  background-position: -20px -18px;
  margin-top: -11px; }

.aside-icon-2 a:before {
  width: 22px;
  height: 20px;
  background-position: -46px -18px;
  margin-top: -10px; }

.aside-icon-3 a:before {
  width: 23px;
  height: 23px;
  background-position: -19px -46px;
  margin-top: -13px; }

.aside-icon-4 a:before {
  width: 23px;
  height: 23px;
  background-position: -48px -44px;
  margin-top: -13px; }

.pagination {
  margin: 20px 0; }
  .pagination li {
    display: inline-block;
    float: none;
    vertical-align: middle; }
    .pagination li a {
      display: block;
      float: none;
      min-width: 24px;
      padding: 0;
      font: 14px/22px "Roboto", Arial, sans-serif;
      text-decoration: none;
      text-align: center;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      background: none;
      border: none;
      color: #4d99cb; }
      .pagination li a:hover {
        text-decoration: none; }
  .pagination .pagin-active a {
    color: #2c2f31;
    border: 1px solid #55a7dd;
    -webkit-box-shadow: 0 0 1px 0 rgba(71, 105, 147, 0.16) inset;
    -moz-box-shadow: 0 0 1px 0 rgba(71, 105, 147, 0.16) inset;
    box-shadow: 0 0 1px 0 rgba(71, 105, 147, 0.16) inset; }
  .pagination .pagin-prev a,
  .pagination .pagin-next a {
    position: relative;
    margin-left: 10px;
    line-height: 28px;
    border-bottom: 1px solid #c7c7c7;
    color: #373737;
    font-size: 13px;
    padding: 0 26px 0 14px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #edf4f7 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #edf4f7 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #edf4f7 100%);
    filter: none; }
    .pagination .pagin-prev a:before,
    .pagination .pagin-next a:before {
      content: " ";
      position: absolute;
      width: 7px;
      height: 8px;
      right: 9px;
      top: 50%;
      margin-top: -4px;
      background: url(../img/sprite.png) 0 -18px no-repeat; }
  .pagination .pagin-prev a {
    margin: 0 10px 0 0;
    padding: 0 14px 0 26px; }
    .pagination .pagin-prev a:before {
      left: 9px;
      background-position: -9px -18px; }

.pagination > li:last-child > a,
.pagination > li:first-child > a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.bread-crumbs {
  margin: 16px 0 0px; }
  .bread-crumbs li {
    display: inline-block;
    vertical-align: middle; }
    .bread-crumbs li span {
      color: #9b9b9b; }
    .bread-crumbs li:before {
      content: "/ ";
      color: #a9adaf; }
  .bread-crumbs li:first-child:before {
    display: none; }

.footer-nav {
  margin: 0; }
  .footer-nav li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px 5px 0; }
    .footer-nav li a {
      text-decoration: underline; }
    .footer-nav li:hover {
      text-decoration: none; }

/*----------- Page structur *
 * ------------------------------------------------------------ */
body, html {
  height: 100%; }

.clear {
  clear: both; }

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

#wrapper {
  position: relative;
  max-width: 1000px;
  min-width: 300px;
  min-height: 100%;
  margin: 0 auto -178px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px 0 rgba(71, 105, 147, 0.16);
  -moz-box-shadow: 0 0 6px 0 rgba(71, 105, 147, 0.16);
  box-shadow: 0 0 6px 0 rgba(71, 105, 147, 0.16); }

.page-buffer {
  height: 178px; }

.container-fluid {
  padding: 0 23px; }

.wrap-centered {
  display: block;
  margin: 20px 0;
  text-align: center; }

.header {
  position: relative;
  padding: 12px 23px 13px;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #e9eff3; }

.head-panel-main {
  position: relative;
  padding: 35px 0;
  border-bottom: 1px solid #e3eef5;
  margin-bottom: 22px; }

.head-pan-m-not-border {
  border: none;
  padding-bottom: 20px;
  margin-bottom: 10px; }

.head-pan-m-min-bottom {
  padding-bottom: 10px; }

.aside-nav {
  background-color: #344053;
  padding: 10px 25px;
  float: left;
  width: 225px;
  margin-bottom: 27px; }

.push-main-bl {
  margin-left: 248px;
  margin-bottom: 40px; }

.push-right-main-bl {
  margin: 0 0 60px 0;
  float: left;
  width: 660px; }

.long-banner {
  margin-bottom: 40px; }

.long-hidden-banner {
  overflow: hidden; }
  .long-hidden-banner img {
    max-width: 1000px; }

.aside-column {
  float: right;
  width: 264px; }

.dotted-bg {
  background: url(../img/dotted-bg.png) 0 0 repeat; }

/*----------- Footer *
 * ------------------------------------------------------------ */
.footer {
  width: 100%;
  height: 178px;
  padding: 40px 20px 30px;
  background: #f9f9f9;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 10; }
  .footer p {
    margin-bottom: 0px; }

/*----------- slider and carousel*
 * ------------------------------------------------------------ */
.more-prod-carousel {
  position: relative;
  margin: 0 0 0 -20px;
  position: relative;
  zoom: 1;
  width: 700px; }

/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

.no-js .slides > li:first-child {
  display: block; }

.flexslider {
  margin: 0;
  padding: 0; }

.slides > li {
  -webkit-backface-visibility: hidden;
  position: relative; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.flex-control-nav,
.flex-control-thumbs {
  display: none; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  display: block;
  width: 17px;
  height: 18px;
  position: absolute;
  top: -35px;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  text-indent: -9999px;
  background-image: url(../img/sprite.png); }

.flex-direction-nav .flex-prev {
  right: 43px;
  background-position: -135px -45px; }
  .flex-direction-nav .flex-prev:hover {
    opacity: 0.9; }

.flex-direction-nav .flex-next {
  right: 20px;
  background-position: -116px -45px; }
  .flex-direction-nav .flex-next:hover {
    opacity: 0.9; }

.head-choise-city {
  display: inline-block;
  vertical-align: middle;
  max-width: 240px;
  width: 100%; }
  .head-choise-city button {
    display: inline-block;
    vertical-align: middle;
    background: none;
    border: none;
    color: #4d99cb;
    padding: 0 11px 0 20px;
    position: relative; }
    .head-choise-city button:before {
      content: " ";
      position: absolute;
      width: 6px;
      height: 4px;
      right: 0;
      top: 50%;
      background: url(../img/pic-1.png) 0px 0px no-repeat;
      margin-top: -1px; }
    .head-choise-city button:after {
      content: " ";
      position: absolute;
      width: 12px;
      height: 16px;
      left: 0px;
      top: 50%;
      background: url(../img/sprite.png) 0px 0px no-repeat;
      margin-top: -8px; }
  .head-choise-city .dropdown-menu {
    top: 30px;
    font-size: 13px; }

.head-fav {
  display: inline-block;
  vertical-align: middle; }
  .head-fav:before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 17px;
    background: url(../img/sprite.png) -14px 0 no-repeat;
    margin-right: 6px; }

.head-cabinet-panel {
  text-align: right; }
  .head-cabinet-panel ul {
    margin-bottom: 0px; }
    .head-cabinet-panel ul li {
      display: inline-block;
      vertical-align: middle;
      padding-left: 12px;
      margin-left: 9px;
      border-left: 1px solid #e9eff3; }
      .head-cabinet-panel ul li:first-child {
        border: none; }

/*.head-cabiner-link {
  display: none; }*/
  .head-cabiner-link a {
    display: inline-block;
    vertical-align: middle;
    padding-left: 22px;
    position: relative; }
    .head-cabiner-link a:before {
      content: " ";
      position: absolute;
      width: 15px;
      height: 15px;
      left: 0px;
      top: 50%;
      background: url(../img/sprite.png) -76px 0px no-repeat;
      margin-top: -8px; }

.head-cabinet-exit:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background: url(../img/sprite.png) -45px 0 no-repeat;
  margin: -2px 5px 0 0; }
.head-cabinet-exit a {
  color: #474a57; }

.head-cabinet-user:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin: -2px 7px 0 0;
  background: url(../img/sprite.png) -28px 0 no-repeat; }

/*.head-cabinet-close ul {
  display: none; }
.head-cabinet-close .head-cabiner-link {
  display: block; }*/

.ad-list-items ul li {
  padding: 20px;
  background-color: #f9fbfe;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 14px;
  line-height: 14px;
  position: relative; }

.aside-setting-ad {
  float: right;
  width: 114px;
  height: 114px;
  text-align: center;
  padding: 20px 5px;
  margin-top: 8px;
  border: 1px solid #bec8cf;
  color: #344053;
  text-decoration: underline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .aside-setting-ad:before {
    content: "";
    display: block;
    margin: 0 auto 15px;
    width: 38px;
    height: 38px;
    background: url(../img/sprite.png) -75px -22px no-repeat; }
  .aside-setting-ad:hover {
    text-decoration: none; }

.ad-item-wrapp {
  margin-right: 130px;
  max-width: 504px;
  overflow: hidden; }

.ad-img {
  float: left;
  width: 167px; }
  .ad-img a {
    display: block; }

.ad-desctipt {
  margin-left: 190px; }
  .ad-desctipt > a {
    font-size: 17px;
    line-height: 21px;
    color: #4d99cb;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px; }

.ad-price {
  display: block;
  margin-bottom: 15px; }

.ad-date-wrap {
  padding: 16px 0 0;
  border-top: 1px solid #e3eef5; }

.ad-ui-line {
  width: 174px;
  height: 9px;
  background-color: #ccd6dd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 10px; }
  .ad-ui-line span {
    display: block;
    height: 9px;
    background-color: #59b14d;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px; }

.soc {
  text-align: right;
  line-height: 18px; }
  .soc a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    width: 16px;
    height: 18px;
    margin-left: 8px;
    background-image: url("../img/sprite.png"); }
  .soc .soc-icon-1 {
    background-position: 0 -103px; }
  .soc .soc-icon-2 {
    background-position: -26px -103px; }
  .soc .soc-icon-3 {
    background-position: -52px -103px; }
  .soc span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    color: #4d99cb; }

.info-footer {
  margin: 35px 0 0; }
  .info-footer .soc {
    display: none; }

.copy b {
  display: block;
  font-weight: 700; }

.age-limit {
  float: right;
  display: block;
  width: 29px;
  height: 29px;
  background: url(../img/sprite.png) -20px -70px no-repeat; }

.main-tiles-list {
  margin-bottom: 57px;
  position: relative; }
  .main-tiles-list ul {
    overflow: hidden;
    background-color: #34495e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
    .main-tiles-list ul li {
      float: left;
      width: 20%;
      border-left: 1px solid #46627d;
      border-top: 1px solid #46627d; }
      .main-tiles-list ul li a {
        display: block;
        height: 159px;
        color: #fff;
        padding: 20px 5px 10px;
        text-align: center;
        text-decoration: none; }
      .main-tiles-list ul li:hover {
        background-color: #4d6176; }
      .main-tiles-list ul li span {
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto 5px;
        background-image: url("../img/sprite.png"); }

.tiles-ic-1 {
  background-position: 0 -124px; }

.tiles-ic-2 {
  background-position: -83px -124px; }

.tiles-ic-3 {
  background-position: -166px -124px; }

.tiles-ic-4 {
  background-position: 0 -207px; }

.tiles-ic-5 {
  background-position: -83px -207px; }

.tiles-ic-6 {
  background-position: -166px -207px; }

.tiles-ic-7 {
  background-position: 0 -290px; }

.tiles-ic-8 {
  background-position: -83px -290px; }

.tiles-ic-9 {
  background-position: -166px -290px; }

.tiles-ic-10 {
  background-position: 0 -373px; }

.tiles-ic-11 {
  background-position: -83px -373px; }

.tiles-ic-12 {
  background-position: -166px -373px; }

.tiles-ic-13 {
  background-position: 0 -456px; }

.tiles-ic-14 {
  background-position: -83px -456px; }

.tiles-ic-15 {
  background-position: -166px -456px; }

.catalog-wrap {
  margin-bottom: 40px; }

.catalog-list {
  margin-bottom: 40px;
  max-width: 670px;
  first-child-margin-top: 0; }
  .catalog-list > li {
    margin-top: 7px;
    border-bottom: 1px solid #e3eef5;
    padding: 15px 12px 15px 7px;
    background-color: #fff;
    overflow: hidden; }
    .catalog-list > li.catalog-fav {
      margin-top: 16px;
      border: none;
      padding: 7px 12px 14px 7px;
      background: #fdfbc8 url(../img/fav-bg.png) 100% 0 no-repeat; }

.catalog-img {
  float: left;
  width: 154px; }

.catalog-descript {
  margin-left: 192px; }

.catalog-d-head {
  padding: 8px 0;
  margin-bottom: 10px;
  position: relative; }

.catalog-name {
  display: block;
  margin-right: 150px;
  position: relative; }
  .catalog-name a {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px; }
  .catalog-name .fav-add {
    position: absolute;
    width: 15px;
    height: 15px;
    left: -25px;
    top: 2px;
    background: url(../img/sprite.png) -53px -69px no-repeat; }

.catalog-price {
  position: absolute;
  right: 0px;
  top: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #242424; }

.catalog-tags {
  margin-bottom: 3px; }
  .catalog-tags li {
    display: inline-block;
    vertical-align: middle;
    color: #858585; }
    .catalog-tags li:before {
      content: "| ";
      margin-right: 3px;
      display: inline-block;
      vertical-align: top; }
    .catalog-tags li:first-child:before {
      display: none; }

.catalog-metro {
  color: #858585;
  display: block;
  margin-bottom: 5px; }
  .catalog-metro span {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 5px;
    background-image: url("../img/sprite.png"); }

.c-metro-color-1 {
  background-position: -93px 0; }

.c-metro-color-2 {
  background-position: -109px 0; }

.c-metro-color-3 {
  background-position: -125px 0; }

.c-metro-color-4 {
  background-position: -141px 0; }

.c-metro-color-5 {
  background-position: -157px 0; }

.c-metro-color-6 {
  background-position: -173px 0; }

.c-metro-color-7 {
  background-position: -189px 0; }

.c-metro-color-8 {
  background-position: -205px 0; }

.catalog-date {
  display: block;
  text-align: right;
  color: #858585; }

.aside-bl-repeat {
  margin-bottom: 22px; }

.vip-ad {
  border: 1px solid #c80730;
  padding: 0 20px 20px; }

.vip-tt {
  display: block;
  position: relative;
  background-color: #c80730;
  line-height: 33px;
  font-weight: 500;
  color: #fff;
  max-width: 210px;
  margin: 0 auto 13px;
  text-align: center;
  text-transform: uppercase; }
  .vip-tt:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 11px;
    left: 0px;
    bottom: -11px;
    background: url(../img/sprite.png) -74px -64px no-repeat; }

.vip-ad-list {
  max-width: 210px;
  margin: 0 auto; }
  .vip-ad-list li {
    color: #333333;
    margin-top: 23px; }
  .vip-ad-list .mobile-visible {
    display: none; }

.vip-name {
  display: block;
  margin: 10px 0; }

.vip-price {
  display: block;
  margin-bottom: 3px;
  font-size: 16px; }

.vip-adress {
  display: block; }

.link-more-aside {
  display: block;
  text-align: right;
  margin: 10px 0 0; }
  .link-more-aside a {
    color: #858585;
    text-decoration: underline; }
    .link-more-aside a:hover {
      text-decoration: none; }

.aside-ad-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 12px;
  height: 15px;
  background: url(../img/pic-3.png) 0 2px no-repeat; }

.aside-banner img {
  width: 100%; }

.aside-banner-border {
  padding: 16px;
  border: 1px solid #e3eef5; }

.about-main {
  margin-bottom: 50px; }

.about-img-bl {
  min-height: 303px;
  background: url(../img/about-bg.jpg) 100% 0 no-repeat;
  margin: 20px 0 40px;
  padding: 35px 270px 35px 40px;
  font-size: 14px; }

.about-list {
  margin-bottom: 40px; }
  .about-list li {
    color: #404040;
    margin-bottom: 15px; }
    .about-list li b {
      display: block;
      font-size: 17px;
      line-height: 21px;
      font-weight: 500;
      margin-bottom: 15px; }
    .about-list li p {
      font-size: 14px;
      margin-bottom: 0px; }

.rule-wrapper {
  padding: 15px;
  margin-bottom: 25px;
  background-color: #f9fbfc;
  position: relative; }
  .rule-wrapper:before {
    content: " ";
    position: absolute;
    width: 10px;
    height: 100%;
    right: 25px;
    top: 0px;
    z-index: 10;
    background-color: #f9fbfc; }

.scrollbar {
  height: 820px; }

.rule-block b {
  display: block;
  font-weight: 500;
  font-size: 17px;
  color: #404040;
  margin-bottom: 17px; }
.rule-block ul li {
  color: #404040;
  margin-bottom: 17px; }

.scroller {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative; }

.scroller-content {
  height: 100%;
  padding: 0 10px 0 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  -webkit-overflow-scrolling: touch; }

.scroller-bar {
  background: #f9fbfc;
  display: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  z-index: 2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.scroller-track {
  border-left: none;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: url(../img/scroll-bg.png) 0 0 repeat-y; }

.scroller-handle {
  background: #a1b1bc;
  border: 1px solid #e4eaed;
  border-left: none;
  cursor: pointer;
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0;
  width: 10px;
  z-index: 2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: right 0.1s linear, width 0.1s linear;
  -moz-transition: right 0.1s linear, width 0.1s linear;
  -ms-transition: right 0.1s linear, width 0.1s linear;
  -o-transition: right 0.1s linear, width 0.1s linear;
  transition: right 0.1s linear, width 0.1s linear; }

/* Webkit Fix */
.scroller-content::-webkit-scrollbar,
.scroller-content::-webkit-scrollbar-button,
.scroller-content::-webkit-scrollbar-track,
.scroller-content::-webkit-scrollbar-track-piece,
.scroller-content::-webkit-scrollbar-thumb,
.scroller-content::-webkit-scrollbar-corner,
.scroller-content::-webkit-resizer {
  opacity: 0; }

/* Active Scrollbar */
.scroller-active .scroller-bar {
  display: block; }

/* Setup Scrollbar - Should match 'active' styles for proper sizing */
.scroller-active .scroller-bar {
  display: block; }

/* Horizontal */
.scroller-horizontal .scroller-content {
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 0 10px 0; }

.scroller-horizontal .scroller-bar {
  border-left: none;
  border-top: 1px solid #EEEEEE;
  bottom: 0;
  height: 20px;
  top: auto;
  width: 100%; }

.scroller-horizontal .scroller-handle {
  bottom: 5px;
  height: 10px;
  right: auto;
  top: auto;
  width: 20px; }

.product-card {
  margin-bottom: 50px; }
  .product-card h1 {
    margin-bottom: 25px; }

.p-inline-bl {
  margin-bottom: 15px; }

.p-inline-line-wrap {
  margin-bottom: 5px;
  padding: 13px 0;
  line-height: 25px;
  font-size: 14px;
  border-bottom: 1px solid #e3eef5; }

.p-inline-tt {
  display: inline-block;
  vertical-align: top;
  width: 145px; }

.p-price-bl {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 9px;
  height: 25px;
  font-weight: 500;
  color: #fff;
  font-size: 13px;
  padding: 0 3px 0 7px;
  background: url(../img/grad-bb.png) 0 0 repeat-x; }
  .p-price-bl:before, .p-price-bl:after {
    content: " ";
    position: absolute;
    width: 9px;
    height: 25px;
    right: -9px;
    top: 0px;
    background: url(../img/sprite.png) -213px -37px no-repeat; }
  .p-price-bl:before {
    left: -9px;
    background-position: -201px -37px; }

.p-inline-more-info {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 8px; }
  .p-inline-more-info span {
    display: block;
    margin-bottom: 10px; }

.btn-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #bde0f7;
  padding: 0 12px 0 30px;
  color: #f6fafc;
  text-decoration: underline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #4d99cb;
  background-color: #f6fafc;
  position: relative;
  -webkit-box-shadow: -1px -1px 0 0 #fafdfe;
  -moz-box-shadow: -1px -1px 0 0 #fafdfe;
  box-shadow: -1px -1px 0 0 #fafdfe; }
  .btn-icon:hover {
    text-decoration: none; }
  .btn-icon:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 9px;
    background-image: url("../img/sprite.png"); }

.btn-ph:before {
  width: 14px;
  height: 14px;
  margin-top: -7px;
  background-position: -186px -14px; }

.btn-mess:before {
  width: 14px;
  height: 10px;
  margin-top: -5px;
  background-position: -203px -25px; }

.p-descript-info {
  margin-bottom: 40px;
  font-size: 14px; }
  .p-descript-info b {
    display: block;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 16px; }

.date-info {
  margin-bottom: 48px; }
  .date-info span {
    display: inline-block;
    vertical-align: middle;
    color: #9d9d9d;
    margin-right: 30px;
    font-size: 13px; }

.post-info-line {
  background-color: #f7fbfe;
  padding: 10px 15px;
  line-height: 20px;
  font-size: 13px; }

.icon-link-post {
  position: relative;
  margin-right: 35px;
  padding-left: 25px;
  display: inline-block;
  vertical-align: middle; }
  .icon-link-post:before {
    content: " ";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    background-image: url("../img/sprite.png"); }

.ic-l-p1:before {
  background-position: -186px -30px; }

.ic-l-p2:before {
  background-position: -186px -44px; }

.icon-post-show {
  text-align: right; }
  .icon-post-show span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 22px; }
    .icon-post-show span:before {
      content: " ";
      position: absolute;
      width: 14px;
      height: 8px;
      left: 0px;
      top: 50%;
      margin-top: -4px;
      background: url(../img/sprite.png) -203px -14px no-repeat; }
  .icon-post-show a {
    border-bottom: 1px dotted #4d99cb;
    text-decoration: none; }
    .icon-post-show a:hover {
      border-bottom: 1px dotted #f7fbfe; }

.more-product-gallery {
  margin: 0 0 30px; }

.more-prod-tt {
  display: block;
  margin: 0 65px 15px 0;
  font-weight: 700;
  font-size: 16px; }

.more-item {
  max-width: 194px;
  margin: 0 auto;
  border: 1px solid #c0d4e1;
  padding: 21px 19px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  min-height: 264px;
  text-align: center; }
  .more-item a {
    display: block;
    text-decoration: none; }
  .more-item span {
    display: block;
    margin-bottom: 12px;
    color: #242424; }

.more-item-name {
  display: block;
  font-weight: 700;
  color: #4d99cb;
  margin: 10px 0 5px;
  color: #4d99cb;
  font-size: 14px; }

.more-item-price {
  display: block;
  font-size: 15px;
  color: #242424;
  font-weight: 700; }

.box {
  display: none;
  border: 1px solid #D4D4D4;
  border-width: 0 1px 1px;
  background: #EFEFEF;
  padding: 0 12px; }

.box.visible {
  display: block; }






/*
*  PLUGIN BASICS
*  ------------------------------------------------
*/
.sliderkit{display:none;position:relative;text-align:left;}
.sliderkit a,
.sliderkit a:hover{text-decoration:none;}
.sliderkit img{border:0;}
.sliderkit-panel>img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	backface-visibility: hidden;
	max-width: none;
}
/*---------------------------------
*  Navigation
*---------------------------------*/
.sliderkit .sliderkit-nav{z-index:10;position:absolute;text-align:center;}

/* Nav > Clip */
.sliderkit .sliderkit-nav-clip{position:relative;
	/*	overflow:hidden;*/

	margin:0 auto;}
.sliderkit .sliderkit-nav-clip ul{position:relative;left:0;top:0;list-style:none;margin:0;padding:0;}
.sliderkit .sliderkit-nav-clip ul li{float:left;}
.sliderkit .sliderkit-nav-clip ul li a{display:block;}

/*---------------------------------
*  Buttons
*---------------------------------*/
.sliderkit .sliderkit-btn{z-index:10;}

/*---------------------------------
*  Panels
*---------------------------------*/
.sliderkit .sliderkit-panel{z-index:1;position:absolute;overflow:hidden;}
.sliderkit .sliderkit-panel-active{z-index:5;}
.sliderkit .sliderkit-panel-old{z-index:4;}

/* Panels > Overlay */
.sliderkit .sliderkit-panel .sliderkit-panel-textbox{position:absolute;z-index:1;}
.sliderkit .sliderkit-panel .sliderkit-panel-text{position:absolute;z-index:3;top:0;left:0;}
.sliderkit .sliderkit-panel .sliderkit-panel-overlay{position:absolute;z-index:2;top:0;left:0;}


/*---------------------------------
*  Photos gallery > Vertical
*---------------------------------*/
.photosgallery-vertical{width:100%; height:427px; padding: 0;}

/* Nav */
.photosgallery-vertical .sliderkit-nav{top:0;right:-95px;width:95px;height:100%; overflow: hidden;}
.photosgallery-vertical .sliderkit-nav-clip{right: -15px; top: 32px!important;  height: 100%!important}
.photosgallery-vertical .sliderkit-nav-clip ul li{margin: 5px 0; padding:0;}
.photosgallery-vertical .sliderkit-nav-clip ul li a{display:block;width:80px;height:60px; }
.photosgallery-vertical .sliderkit-nav-clip ul li.sliderkit-selected a{padding:0; border: 1px solid #14546c; outline: none; position: relative;}
.photosgallery-vertical .sliderkit-nav-clip ul li.sliderkit-selected a:before {
	content: ' ';
	border: 5px solid transparent;
	border-right-color: #14546c;
	position: absolute;
	left: -11px;
	top: 50%;
	margin-top: -5px;
	width: 0;
	height: 0;

}
.photosgallery-vertical .sliderkit-nav-clip ul li img{width:80px;height:50px; height: 100%;}

/* Nav buttons */
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-btn{position:absolute;right:0;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-btn a{display:block;width:80px;height:24px;background:#004560 url("../img/arrow-top.png") no-repeat center 0;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-btn a span{display:none;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-prev{top:0;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-next{bottom:0;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-prev a{background-position:center;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-next a{background:#004560 url("../img/arrow-bottom.png") no-repeat center;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-prev a:hover,
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-prev a:focus{background-color: #008fc7;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-next a:hover,
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-next a:focus{background-color: #008fc7;}

/* Go Buttons */
.photosgallery-vertical .sliderkit-go-btn a{width:200px;height:300px;background:#ccc;opacity:.8;}
.photosgallery-vertical .sliderkit-go-prev{top:0;left:0;}
.photosgallery-vertical .sliderkit-go-next{top:0;right:0;}

/* Panel */
.photosgallery-vertical .sliderkit-panel{top:0;left:0;width:100%;height:100%; border: 3px solid #004560;}

/* Panel > Textbox */
.photosgallery-vertical .sliderkit-panel .sliderkit-panel-textbox{bottom:0;left:0;height:85px;width:500px;}
.photosgallery-vertical .sliderkit-panel .sliderkit-panel-text{height:65px;padding:10px 15px 10px 115px;font-size:0.9em;color:#fff;}
.photosgallery-vertical .sliderkit-panel .sliderkit-panel-text h4{height:auto;margin:0 0 7px;line-height:1.1em;font-size:1.1em;font-weight:bold;border:none;}
.photosgallery-vertical .sliderkit-panel .sliderkit-panel-overlay{height:85px;width:500px;background:#000;opacity:0.6;}




.gallery-wrapper {
	padding-right: 95px;
	margin: 10px 0;
	position: relative;
}

.gallery-zoom {
	background: url('../img/gallery-zoom.png') no-repeat;
	position: absolute;
	width: 39px;
	height: 39px;
	top: 17px;
	left: 18px;
	z-index: 999999;
}


/*----------- media style *
 * ------------------------------------------------------------ */
@media only screen and (max-width: 1400px) {
  body {
    background-image: none; } }
@media only screen and (max-width: 990px) {
	.photosgallery-vertical .sliderkit-nav {
		right: -93px;
	}
  .container-fluid {
    padding: 0 10px; }

  .header {
    padding-left: 10px;
    padding-right: 10px; }

  .footer {
    padding-left: 0;
    padding-right: 0; }

  .footer-nav li {
    margin: 0 0 0 10px; }
    .footer-nav li:first-child {
      margin-left: 0; }

  .soc a {
    margin-left: 5px; }
    .soc a:first-child {
      margin-left: 0px; }

  .search-head-middle {
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: 0px;
    width: 100%; }
    .search-head-middle .search-choise-category {
      width: 30%; }

  .main-tiles-list {
    margin-bottom: 30px; }
    .main-tiles-list ul li a {
      height: 155px; }

  .txt-typo-block {
    padding: 10px 0; }

  .push-right-main-bl {
    width: 100%;
    float: none; }

  .aside-column {
    float: none;
    width: 100%;
    margin-bottom: 60px; }

  .vip-ad {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px 45px; }

  .vip-ad-list {
    max-width: 100%;
    text-align: center; }
    .vip-ad-list li {
      display: inline-block;
      vertical-align: top;
      width: 32%; }
      .vip-ad-list li div {
        max-width: 160px;
        margin: 0 auto;
        text-align: left; }
    .vip-ad-list .mobile-visible {
      display: block;
      display: inline-block; }

  .vip-name {
    padding-right: 10px; }

  .mobile-hidden,
  .link-more-aside {
    display: none; }

  .about-img-bl {
    padding-right: 220px; }

  .ad-item-wrapp {
    max-width: 700px;
    margin-right: 0; }

  .ad-list-items ul li {
    padding-bottom: 50px; }

  .aside-setting-ad {
    margin: 0;
    position: absolute;
    left: 210px;
    bottom: 15px;
    border: 1px solid #bec8cf;
    height: 27px;
    line-height: 27px;
    width: auto;
    padding: 0 12px 0 9px; }

  .aside-setting-ad:before {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin: -2px 5px 0 0;
    background-position: 0 -30px; }

  .filter-ch-list > li {
    width: 33%; }

  .long-banner {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto; }

  .catalog-wrap {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto; }

  .more-prod-carousel {
    width: 100%;
    margin-left: 0px; } }
@media only screen and (max-width: 768px) {
  .head-cabinet-panel ul {
    display: none; }

  .head-cabiner-link {
    display: block; }

  .head-panel-main {
    padding: 32px 0 0;
    margin-bottom: 25px;
    border: none; }

  .ad-list-items ul li {
    padding-bottom: 60px; }

  .ad-item-wrapp {
    margin-right: 0px; }

  .pagination li.pagin-prev a,
  .pagination li.pagin-next a {
    border-right: 1px solid #c7c7c7; }

  .footer {
    height: 133px;
    padding: 0 0 20px; }

  .page-buffer {
    height: 133px; }

  #wrapper {
    margin-bottom: -133px; }

  .footer-wrap-nav {
    padding: 15px 0;
    background-color: #f4f4f4; }

  .main-tiles-list ul li {
    width: 33.3%; }

  .head-pan-m-not-border {
    margin-bottom: 32px; }

  .search-head-panel {
    margin-top: 20px; }

  .bread-crumbs {
    margin: 18px 0 25px; }

  .filter-checked-items {
    padding-top: 3px; }

  .filter-ch-list {
    margin: 12px 10px 0 15px; }
    .filter-ch-list li {
      width: 49%;
    }

  .more-prod-carousel {
    width: 820px;
    margin-left: -40px; }

  .flex-direction-nav .flex-prev {
    right: 60px;
    opacity: 0.9; }

  .flex-direction-nav .flex-next {
    right: 40px; } }
@media only screen and (max-width: 767px) {

  .head-fav {
    display: none; }

  .aside-nav {
    width: 100%;
    float: none;
    padding: 5px 15px; }
    .aside-nav ul {
      padding: 5px 0; }
      .aside-nav ul li {
        display: inline-block;
        width: 49%;
        border: none;
        vertical-align: middle; }

  .push-main-bl {
    margin-left: 0px; }

  .ad-list-items ul li {
    padding: 15px 15px 60px;
  }

  .ad-item-wrapp {
    max-width: 100%; }

  .info-footer {
    margin-top: 20px; }
    .info-footer p {
      display: none; }
    .info-footer .soc {
      display: block;
      text-align: left; }

  .search-choise-city {
    display: none; }

  .filter-checked-items {
    padding: 0px 0 12px; }
    .filter-checked-items .row {
      margin: 0;
      padding: 0 5px; }
    .filter-checked-items .col-xs-6 {
      padding: 0; }

  .catalog-descript {
    margin-left: 190px; }

  .catalog-d-head {
    padding: 0;
    margin-bottom: 5px; }

  .catalog-name {
    margin: 0; }
    .catalog-name a {
      font-size: 15px; }

  .catalog-price {
    position: relative;
    right: 0px;
    top: 0px;
    display: block;
    margin: 10px 0 0; }

  .catalog-date {
    text-align: left; }

  .more-prod-carousel {
    width: 100%;
    margin-left: 0; }

  .flex-direction-nav .flex-prev {
    right: 23px;
    opacity: 0.9; }

  .flex-direction-nav .flex-next {
    right: 3px; }

  .more-item {
    margin: 0 2px; }

  .post-info-line .col-xs-6 {
    width: 100%;
    float: none; }

  .ad-desctipt > a {
    font-size: 15px;
    line-height: 17px;
  }

  .icon-post-show {
    text-align: left;
    margin-top: 5px; } }
@media only screen and (max-width: 600px) {
  html, body {
    height: auto; }

  .large-title {
    font-size: 30px; }

  #wrapper {
    margin-bottom: 0px;
    min-height: 1px; }

  .page-buffer,
  .filter-btn span {
    display: none; }

  .footer {
    height: auto; }

  .search-choise-category {
    width: 45%; }

  .vip-ad-list li {
    width: 49%; }
  .vip-ad-list .mobile-visible {
    display: none; }

  .push-right-main-bl {
    margin-bottom: 0px; }

  .soc {
    padding-top: 5px; }

  .about-img-bl {
    background: url(../img/about-mobile-bg.jpg) 100% 100% no-repeat;
    background-size: cover;
    padding: 32px 35px; }

  .wrapper-login-form {
    padding: 50px 10px; }

  .head-line-form {
    margin-bottom: 50px; }

  .reg-group-bl {
    max-width: 250px;
    margin-bottom: 50px; }

  .reg-reverse-float .form-col,
  .reg-reverse-float .form-col + .form-col,
  .form-col,
  .form-col + .form-col {
    float: none;
    width: 100%;
    padding: 0; }

  .reg-reverse-float .form-col {
    margin-top: 30px; }

  .reg-reverse-float .form-col + .form-col {
    text-align: center; }

  .reg-soc img {
    display: none; }
  .reg-soc img + img {
    display: block; }

  .reg-info {
    float: none;
    max-width: 100%; }

  .wrapper-registration-form {
    padding-bottom: 50px; }

  .aside-nav {
    width: 100%;
    float: none;
    padding: 5px 15px; }
    .aside-nav ul {
      padding: 5px 0; }

  .push-main-bl {
    margin-left: 0; }

  .ad-img {
    width: 160px; }

  .ad-desctipt {
    margin-left: 175px; }
  .aside-setting-ad {
    left: 190px; }

  .more-item {
    padding: 6px 5px;
    min-height: 240px;
    max-width: 144px; } }
@media only screen and (max-width: 479px) {
  .large-title {
    font-size: 22px; }
  .product-card h1 {
    margin-bottom: 20px; }
	.gallery-zoom {
		left: 4px;
		top: 5px;
	}
	.photosgallery-vertical {
		height: 290px;
	}
	.photosgallery-vertical .sliderkit-nav {
		width: 77px;
	}
	.photosgallery-vertical .sliderkit-nav-clip ul li img {
		height: 100%;
		width: 100%;
	}
	.sliderkit-panel>img {
		width: 230%;
	}
	.photosgallery-vertical .sliderkit-nav-clip ul li{
		
	}
	.photosgallery-vertical .sliderkit-nav-clip ul li a {
		height: 41px;
		width: 61px;
	}
	.photosgallery-vertical .sliderkit-nav .sliderkit-nav-btn a {
		width: 62px;
	}
	.photosgallery-vertical .sliderkit-nav-clip ul li {
		margin: 3px 0;
	}
	.gallery-wrapper {
		padding-right: 65px;
	}
	.photosgallery-vertical .sliderkit-nav {
		right: -70px;
	}
  .head-panel-main {
    padding-top: 20px; }
    .head-panel-main .col-xs-6 {
      float: none;
      width: 100%;
      text-align: center; }
      .head-panel-main .col-xs-6 .text-right {
        text-align: center;
        padding-top: 10px; }

  .head-cabiner-link a {
    padding-left: 10px; }
    .head-cabiner-link a:before {
      left: -10px; }

  .push-main-bl {
    margin-bottom: 10px; }

  .ad-img {
    float: none;
    margin-bottom: 15px; }

  .ad-desctipt {
    margin-left: 0px; }

  .aside-setting-ad {
    left: 20px; }

  .pagination li {
    margin-bottom: 10px; }

  .footer-nav li {
    margin: 0 5px 5px 0; }

  .info-footer .col-xs-4 {
    float: none;
    width: 100%; }
  .info-footer .col-xs-7 {
    width: 80%; }
  .info-footer .col-xs-1 {
    width: 20%; }

  .copy {
    margin-bottom: 20px; }

  .search-choise-category,
  .search-input:before {
    display: none; }

  .main-tiles-list ul li a {
    padding: 15px 2px 10px; }

  .long-banner,
  .bread-crumbs li span {
    display: none; }

  .catalog-img {
    float: none;
    display: block;
    margin-bottom: 10px; }

  .catalog-descript {
    margin-left: 0px; }

  .catalog-name {
    padding-right: 5px;
    margin-right: 10px; }
    .catalog-name .fav-add {
      left: 100%; }

  .vip-ad-list li {
    width: 100%; }

  .filter-ch-list {
    text-align: left;
    padding: 1px 0 0; }
    .filter-ch-list li {
      width: 100%;
      display: block; }

  .filter-wrap-btn {
    margin-left: -10px; }

  .filter-btn {
    margin-left: 10px; }

  .vip-ad {
    padding-bottom: 30px; }

  .aside-column {
    margin-bottom: 40px; }

  .catalog-wrap,
  .catalog-list {
    margin-bottom: 20px; }

  .about-img-bl {
    background-position: 0 0; }

  .login-form {
    padding: 20px 10px 5px; }
    .login-form .btn {
      margin-top: 0px; }

  .check-login-form {
    float: none;
    width: 100%;
    display: block;
    margin-bottom: 10px; }

  .aside-login-link {
    float: none;
    width: auto; }

  .scrollbar {
    height: 420px; }

  .wrapper-registration-form {
    padding: 50px 10px; }

  .registration-form {
    padding: 30px 10px 10px; }

  .head-line-form .form-group-tt {
    font-size: 18px; }

  .head-line-form,
  .reg-group-bl {
    margin-bottom: 35px; }

  .more-item {
    margin: 0 auto;
    max-width: 200px; }

  .p-inline-more-info {
    padding-bottom: 0px; }

  .btn-icon {
    margin-bottom: 10px; }

  .aside-nav ul li {
    display: block;
    width: 100%; }

  .icon-link-post {
    margin: 0 20px 5px 0; } }





/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../img/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../img/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden !important;
	width: auto;
}

.fancybox-lock body {
	overflow: hidden !important;
}

.fancybox-lock-test {
	overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../img/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5){

		#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
			background-image: url('../img/fancybox_sprite@2x.png');
			background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
		}

		#fancybox-loading div {
			background-image: url('../img/fancybox_loading@2x.gif');
			background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
		}
}

/************/
/* admin-menu */
/***********/
#admin-menu{
        margin-bottom:0;
        height: 30px;
        min-height: 30px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        color: #fff;
        font-size: 12px;
        font-family: "tahoma";
        z-index:10000;
}
#admin-menu a{
        color: #fff;
        font-size: 12px;
        font-family: "tahoma";
       
}
#admin-menu .navbar-nav > li > a{
        padding: 0 20px;
        height: 30px;
        line-height: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}
#admin-menu .dropdown-menu{
        background: #000;
        z-index: 10000;
        margin-top: -1px;
}
#admin-menu .dropdown-menu a{
     background: #222222 !important;
     color: #fff !important;
}
#admin-menu .dropdown-menu a:focus,
#admin-menu .dropdown-menu a:hover{
        background: #222222 !important;
}
#admin-menu .navbar-nav{
        width: 100%;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

